* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    width: 100%;
    border-radius: 10px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

header {
  width: 100%;
  padding: 20px;
  overflow: hidden;
  box-sizing: content-box;
}

h2{
    padding: 20px;
}

header img {
 
  object-fit: cover;
  box-sizing: content-box;
}

.article section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  
}

.container {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
        
}

.flexContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: scale(1.03);
    box-sizing: content-box;
   
    
}

footer{
    position: fixed;
    display: flex;
}

/* ===============================
            768px
=================================== */

@media screen and (min-width:768px) {
    .container {
        width: 85%;
    }

    .flexContainer>* {
        width: calc(50% - 20px);
    }
}

/* 768px */

/* ===============================
            992px
=================================== */

@media screen and (min-width:992px) {
    .container {
        width: 75%;
    }

    .flexContainer>* {
        width: calc(25% - 20px);
    }
}

/* 992px */

/* ===============================
            1200px
=================================== */

@media screen and (min-width:1200px) {
    .container {
        max-width: 1300px;
    }
}

/* 1200px */